# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# Environment
.env

# Mock Agent LOB 
sample-lob/
